version: 2.1

orbs:
  common: dailydotdev/common@0.0.14

jobs:
  build-package:
    executor:
      name: common/node
      tag: "24.13"
    steps:
      - common/setup-node
      - run:
          name: Lint
          command: |
            pnpm run lint
      - run:
          name: Build
          command: |
            pnpm run build
workflows:
  build:
    jobs:
      - build-package
